.circulo-contenedor{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}
.circulo-contenedor-border-left{
    border-left: 2px solid #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}